*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    color: #fff;
}

ul{padding: 0; margin: 0;}
li{list-style: none;}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    text-decoration: none;
}

/* =====header section css start here===== */
.header__section{
    background: #343434;
    z-index: 999;

    position: sticky;
    top: 0;
}

.logo a{
    font-size: 30px;
    font-weight: 600;
    color: #fff;
}

.header__inner ul li a{
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}
/* =====header section css start here===== */


/* =====product section css start here===== */
.product__section{
    margin-top: 20px;
}

.boxes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

 .boxes a.box{
    width: 100%;
    max-width: 345px;
}

.boxes a.box img{
    width: 100%;
}

.pTitle h2 {
    font-size: 26px;
    color: #fff;
    margin-bottom: 25px;
    transition: 0.3s ease-in-out;
}

.boxes a.box{
    color: #fff;
    padding: 8px;
    background: #333;
}

.boxes a.box:hover{
    /* opacity: 0.8; */
    background: rgb(48 47 47);
}

.boxes a.box h5 {
    font-size: 17px;
    font-weight: 400;
    line-height: 30px;
}

.boxes a.box p {
    font-size: 14px;
    color: #ffb900;
    line-height: 30px;
}

.boxes a.box  .price__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxes a.box .price__wrap span.offer {
    font-size: 15px;
    padding: 3px 10px;
    background: #297d29;
    font-weight: 500;
}

.boxes a.box .price__wrap span.price {
    font-size: 16px;
    font-weight: bold;
}

.box__content{
    margin-bottom: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #acacac;
}

@media screen and (max-width: 1439px) {
    .boxes{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .boxes{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 575px) {
    .boxes{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* =====product section css start here===== */

/* =====product slider css start here===== */
.product__desc{
    margin-top: 30px;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .productSlider2 {
    height: 80%;
    width: 100%;
  }

  .productSlider {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .productSlider .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .productSlider .swiper-slide-thumb-active {
    opacity: 1;
  }

  .product__infos{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h3.product__title {
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 20px;
}

.product__infos span.issue__date {
    color: #ffb900;
}

.ratings {
    display: flex;
    align-items: center;
    gap: 9px;
    color: #ffb900;
}

.ratings .rate{
    display: flex;
    gap: 3px;
    font-size: 20px;
    /* align-items: center; */
}

.acquire__container{
    background: #262626;
    padding: 14px;
    position: relative;
}

.acquire__container::before{
    position: absolute;
    content: "";
    top: 0;
    left: 49%;
    transform: translateX(-50%);
    height: 100%;
    width: 0.5px;
    background: #595252;
}

.acquire__right{
    padding-left: 14px;
}

#cartBtn{
    padding: 5px 12px;
    font-size: 18px;
    border: none;
    outline: none;
    background: #ffb900;
    color: #fff;
}

a.downloadType{
    color: #fff;
    text-decoration: underline;
}

.product__cart{
    position: sticky;
    bottom: 50%;
    z-index: 999;
    width: 75px;
    height: 75px;
    background: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: auto;
    cursor: pointer;
}

.product__cart::before {
    position: absolute;
    content: "1";
    height: 20px;
    width: 20px;
    background: #ffb900;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    border-radius: 50%;
    right: 12px;
    top: 12px;
}

.createToast{
    position: fixed;
    top: 90px;
    right: 20px;
    z-index: 9;
    padding: 5px 20px;
    background: #262626;
    transition: .3s ease-in-out;
}

.cart{
    width: 100%;
    max-width: 240px;
    background: #000;
}

.cart__inner{
    width: 100%;
    max-width: 200px;
    margin: auto;
    padding: 10px;
    background: #262626;
}
/* =====product slider css end here===== */